*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:#464646;
    /* transition: 0.5s all; */
}

body {
    max-width: 100%;
    background-color: #FFFFFF;
}



