@import '../color.css';

footer{
  background-color: var(--white_footer);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 19px;
  position: relative;
  text-align: left;
  width: 100%;
}

.footer{  
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;  
  padding: 20px;  
}

.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;  
  justify-content: space-around;
  text-align: center;  
  width: 100%;
}

.footer__text{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: fit-content;  
}
.footer__forms{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}
.footer__forms p{
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.footer__forms input[type=text],
.footer__forms textarea{
  border: 0;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 5px;
  width:100%;
}
.footer__forms input[type=text]:focus,
.footer__forms textarea:focus{
  outline: none;
}

.footer__forms textarea{
  border-radius: 4px;
  height: 82px;
  padding-top: 10px;
  resize: none;
}

.footer__dev{
  background-color: var(--white_100);
  left: 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

/* .fixed{
  bottom: 0;  
  position: fixed;
} */

@media screen and (min-width: 550px){
  .container{
    text-align: left;
    width: fit-content;
  }
  .footer{
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    padding: 40px 60px;
  }
  .footer__forms{
    width: 70%;
  }
}

@media screen and (min-width: 768px){
  .footer__forms{
    width: 50%;
  }
}

@media screen and (min-width: 900px){
  .container{
    align-items: flex-start;
    flex-direction: row;
  }
}


