header{
  background-color: green;
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("../../../img/header.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 60px;  
}
.header__promotions{
  position: absolute;
  bottom: 32px;
  display: flex;
  flex-direction: column;  
}

.header__promotions h1,
.header__promotions p{
  color: #fff;
}

.header__promotions p{
  margin-bottom: 10px;
}

.header__promotions h1{
  font-weight: 700;
  font-size: 36px;
}
